/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 25, 2016, 11:23:42 PM
    Author     : rlittle

*= require site/show_gifts

*/

div.product-block {
    text-align: left;
    padding: 0px;
    width: 100%;
    margin-bottom: 0px;
    float: left;
    display: inline-block;
    position: relative;
    margin: 0px;
    vertical-align: top;
    min-height: 150px;
    color: black;
    border-bottom: 1px solid #a0a4a7;
    font-size: 15px;
    font-family: open_sansregular;
}

div.product-float {
    display: table;
    position: relative;
    width: 100%;
}

div.product-block div.best_in_place {
    background-color: white;
    color: black;
    height: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 0px;
}

div.product-size-color-item {
    display: inline-block;
    position: relative;
    padding-left: 0px;
    height: 20px;
    margin-top: -10px;
}

div.product-block div#product-sizes {
    width: 100%;
    display: inline-block;
    position: relative;
    padding-left: 125px;
    padding-top: 20px;
    font-family:'open_sansextrabold';
}

div.product-summary {
    display: inline-block;
    position: absolute;
    font-size: 15px;
    left: 10px;
    bottom: 5px;
    right: 10px;
}

div.product-block div.row-title {
    display: inline-block;
    width: 120px;
    text-align: right;
    font-family:'open_sansextrabold';

}

div.product-size-color-item input.best_in_place_adj {
    width: 20px !important;
    margin-left: 1px;
}

div.product-image img {
    height: auto;
    width: 175px;
    margin-bottom: -4px;

}

div.product-image {
    float: left;
    overflow: hidden;
    margin-right: 20px;
    border: 2px solid lightgray;
    box-shadow: 0px 0px 20px white;
    margin-bottom: 20px;
    background-color: white;
    margin-bottom: 35px;

}

div.product-data-float div.delete-item {
    position: absolute;
    bottom: 5px;
    right: 5px;    
}


div.top-product-block {
    display: inline-block;
    position: relative;
    background:transparent;
    width: 100%;
}

div.total-product-price {
    float: right;
}

div.total-product {
    float: left;
}
div.bottom-navigation-block {
    width: 100%;
    display: block;
    position: relative;
}

div#cart-contents {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid gray;
}

div.product-block div#product-sizes div.column {
    display: inline-block;
    position: relative;
    padding-left: 0px;
    text-align: center;
    width: 75px;
    padding-bottom: 5px;
    text-decoration: underline;
}

div.top-product-block div.cart-title {
    font-size: 25pt !important;
    color: #244561 !important;
    text-align: center;
    height: 65px;
    padding-top: 20px;
}

div.cart-summary-header.cart-header-font {
    font-size: 25pt !important;
    color: #244561 !important;
    text-align: center;
    height: 65px;
    padding-top: 20px;
    border-bottom: 1px solid black;
}

div.cart-summary-title {
    font-weight: bold;
}

div.cart-sumamry-row {
    padding: 20px;
    border: 5px double gray;
    margin: 20px;
    display: inline-block;
    float: right;
    font-size: 20px;
    background: #244561;
    color: white;
}

div.nav-cart-right.bridalreg-button {
    float: right;
    padding-right: 20px;
}

div.nav-cart-bottom {
    height: 40px;
    display: inline-block;
    width: 99%;
    padding-top: 20px;
    background-color: #fffeed;
    box-shadow: 0px 0px 13px #c3c2bc;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 5px;
    margin-right: 5px;
}

div#item-upc, div.product-upc-section {
    width: 16%;
}

div#item-quantity, div.product-quantity-section {
    width: 16%;
}


div.table-cell.product-description-section {
    width: 50%;
}

div.product-float div.table-cell {
    display: table-cell;
    position: relative;
    border-right: 2px solid darkgray;
}

div#item-price, div.product-price-section {
    border-right: 0px solid darkgray !important;

}

div.product-price-section {
    text-align: right;
    padding-right: 20px;
}

div#current-subtotal-title {
    width: 32%;
    border-right: 0px solid transparent !important;
    text-align: right;
    padding-right: 20px;
}


div#current-subtotal {
    text-align: right;
    padding-right: 20px;
}