<%# @cart.discount_code=get_user_price_group %>

<div class="cart-sumamry-row">
  <div class="cart-summary-title">Order Total</div> <div class="cart-summary-price" id="cart-total-price"  ><%=number_to_currency(@cart.total_price) %></div>
</div>
