<%=page_attr_display(@page, "false") %>

<div id="page-title">
        Wish List
    </div>

    <%#*<div id="bride-info">%>
       <%#=bride_edit_div(@cart.bride) %>
       <%#*<div id="first-name" class="bride-info-item">%>
            <%#=@cart.bride.user.user_attribute.first_name%>
        <%#*</div>%>
        <%#*<div id="last-name" class="bride-info-item">%>
            <%#=#@cart.bride.user.user_attribute.last_name%>

        <%#*</div>%>
        <%#*<div id="wedding-date" class="bride-info-item">%>
            <%#=@cart.bride.wedding_date.strftime("%m/%d/%Y") %>
        <%#*</div>%>
    <%#*</div>%>

<div class="top-product-block">

        <%= render(:partial => "build_order", :object => @cart) %>
                 
  </div>

<div class="bottom-navigation-block">




  <%#= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif", :border=>"0"), express_checkout_new_order_path %>

  <%#= link_to image_tag("buynow.jpg"), @cart.standard_checkout(url_for(:controller=>:store, :action=>:store_list, :only_path=>false), url_for(:controller=>:orders, :action=>:new , :only_path=>false)) %>

      <div class="nav-cart-bottom"> 
        <div class="nav-cart-left windsor-button">
          <%=link_to "Cancel Order" ,{:action => :empty_cart, :controller=>:site}, {:class=>"navigation-link"} %>
        </div>

       <div class="nav-cart-right windsor-button">
          <%=link_to "Complete Order >>" ,{:action => :enter_order}, {:class=>"navigation-link validate-login continue-link"} %>
       </div>

      </div>

</div>

<% console %>